body { 
    background-image: linear-gradient(to left top,brown,yellow);
    
    }
  *{
    box-sizing: border-box;
  }  
 
    .heading{
      text-align: center;
      font-size: 80px;
      font-weight: 700;
      font-family: 'Playfair Dispay SC';
     
    }
    .tile{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      border-radius: 20%; 
    }
    .number{
      
      border: 1px solid rgb(255, 255, 255);
     
      font-size: 60px;
      background-color: rgb(31, 128, 231);
      
      text-shadow:2px 4px 6px  rgb(100, 99, 99);
      
      color: white;
      font-weight: 700;
     
      font-family: 'Roboto';
    }
    
    .white{
      background-color: transparent;
      color: transparent;
      /*border: 2px solid rgb(255, 255, 255);*/
     
    }
    .pause{
      width:570px;
      margin:20px auto;
      padding: 10px;
      font-size: 30px;
      background-color:rgb(110, 183, 243) ;
      font-weight: 900;
      color: rgb(67, 65, 65);
      letter-spacing: 10px;
      text-align: center;
      cursor: pointer;
      transition: color .2s;
      transition:all 1s;
      
    }
    .pause:hover{
      background-image: linear-gradient(to right,rgb(13, 139, 249),rgb(10, 66, 248));
      color: white;
      transform: scaleY(1.2) scaleX(1.1);
    }
    .correctposn{
      background-color: red;
    }
    #board{
      background-color: transparent;
      display: flex;
      width:600px;
      height: 600px;
      /*outline: 2px solid black;*/
      outline-offset: 1px;
      margin: 50px auto 40px auto;
      position: relative;
      flex-wrap: wrap;
    }
    .center{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    

    }
    .play{
      padding: 7px;
      font-size: 30px;
      border: none;
      background-color: white;
      width:150px;
      font-weight: 600;
      cursor: pointer;
      transition: all .5s;
      box-shadow: 2px 4px 6px rgb(215, 213, 213);
      height: 50px;

    }
    
    .play:hover{
      background-color: black;
      color: white;
      transform: scale(1.2);
      box-shadow:2px 4px 6px rgb(158, 157, 157) ;
    }
    .tt{
      padding: 7px;
      font-size: 20px;
      border: none;
      background-color: rgb(221, 217, 217);
      width:120px;
      font-weight: 600;
      box-shadow: 1px 2px 4px white;
      text-align: center;
      font-family: 'Monotserrat';
    }
    .footer{
      margin: 20px auto;
      justify-content: space-between;
      width:600px;
      font-weight: 700;
      font-size: 20px;
    }
    .message{
       font-size: 80px;
        color: white;
      font-weight: 700;
    font-family: 'Montserrat'; 
    margin: 30px auto;
    text-align: center; 
    animation: win 2s ease-in-out 2s;
    }
    #hint{
       background-color: rgb(255, 255, 255);
       cursor: pointer;
       transition: all .5s;
    }
    #hint:hover{
      background-color: rgb(167, 237, 255);
    }
    @keyframes win {
      0%{
            transform: translateZ(-100px);
            opacity: 0;
            z-index: -3;
      }
      50%{
        transform: translateZ(100px) scale(1.1);
        z-index: 4;
        opacity: .8;
        text-shadow: 2px 5px 6px rgb(149, 147, 147);
        
      }
      100%{
        transform: translateZ(0px);
        opacity: 1;
      
      }

      
    }
    
   /* .tile1 {background-position: left top;}
    .tile2 {background-position: center top;}
    .tile3 {background-position: right top;}
    .tile4 {background-position: left center;}
    .tile5 {background-position: center center;}
    .tile6 {background-position: right center;}
    .tile7 {background-position: left bottom;}
    .tile8 {background-position: center bottom;}
    .tile9 {background: white; cursor: default;}*/

    
   